<section *ngIf="authService.isRegisteredNow()">
  <div class="login-form">
    <div class="login-card">
    </div>
    <div class="body-card">
      <input type="email" [(ngModel)]="email">
      <hr>
      <input type="password" [(ngModel)]="password">
      <button (click)="login()">Log In</button>
    </div>
  </div>
</section>

<section *ngIf="!authService.isRegisteredNow()">
  <div class="register-form">
    <div class="register-card">
    </div>
    <div class="body-card">
      <input type="email" [(ngModel)]="email">
      <hr>
      <input type="password" [(ngModel)]="password">
      <button (click)="signUp()">Register</button>
    </div>
  </div>
</section>


<!-- // IL THIS NELL'HTML NON SERVE // -->
