$primary: rgb(122, 151, 201);
$secondary: rgb(201, 159, 230);
$tertiary: rgb(242, 204, 210);
$quaternary: rgb(226, 229, 249);
$body-color: rgb(248, 196, 217);
$fontFam: 'Open Sans', sans-serif;

////////////////////////////////

body {
  background-color: $body-color;
  font-family: $fontFam;
}
